{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "plugins": [
        "prettier-plugin-blade",
        "@prettier/plugin-php",
        "prettier-plugin-organize-imports"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}